.App {
  text-align: center;
  width: 100%;
}

.yearSelection {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.yearSelection div {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  border: 3px, solid, gray;
  color: gray;
  background-color: whitesmoke;
  font-weight: bold;
}

.yearSelection div.selectedYear {
  color: whitesmoke;
  background-color: gray;
}

.chosen {
  color: whitesmoke;
  background-color: gray;
}

.year {
  color: gray;
  background-color: whitesmoke;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  margin: auto;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
